<section class="section-content section-isotope separator" id="projects">
  <div class="page-header text-center">
    <h2>Our latest work</h2>
  </div>

  <div id="filters" class="button-group text-center">
    <button data-filter-value="*" class="active">show all</button>
    {% assign categories = site.data.projects | get_categories %}
    {% for category in categories %}
      <button data-filter-value=".{{ category }}">{{ category }}</button>
    {% endfor %}
  </div>

  <div class="demo-3">
    <div id="portfolio" class="grid">
      {% for project in site.data.projects limit: 12 %}
        <div class="col-12 col-sm-6 col-md-3 portfolio-item {{ project.categories | join: ' ' | downcase }}">
          {% assign full_path=project.title | full_image_path %}
          {% assign thumb_path=project.title | thumb_image_path %}

          <a href="/images/{{ full_path }}" rel="nofollow" class="popup-gallery popovers" title="{{ project.title }}" data-bs-html="true" data-bs-content="{{ project.description | xml_escape }}">
            <img src="/images/{{ thumb_path }}" alt="{{ project.title }}" class="img-fluid d-block mx-auto">
          </a>
          <div class="d-block d-sm-none">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <b>Type: {{ project.categories | array_to_sentence_string }}</b>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <a href="/portfolio" style="font-size: 1.2em;">
        View all projects
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
