<section id="team" class="dark">
  <div class="page-header text-center">
    <h3>Our Team</h3>
    <h2>The people who turn ideas into reality.</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel">
          {% for person in site.data.people %}
            <div class="item">
              <img class="display-pic" src="https://secure.gravatar.com/avatar/{{ person.avatar }}?r=g&s=160" alt="Team Member" />
              <h3>{{ person.name }}</h3>
              <h4>{{ person.title }}</h4>
              <p>{{ person.bio }}</p>
              {% for link in person.links %}
                <a class="icon" href="{{ link[1] }}" target="_blank"><i class="fa fa-{{ link[0] }}"></i></a>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
