---
layout: base
---
{% include _small_nav.html %}

<article itemscope itemtype="http://schema.org/Article" class="post">
  {% if page.cover_image %}
    <meta itemprop="image" src="/images/{{ page.cover_image }}">
    <div class="post-header-image" style="background-image: url(/images/{{ page.cover_image }});"></div>
  {% endif %}

  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <header class="text-center">
        <h1 itemprop="name">
          <a itemprop="url" href="{{ page.url }}">{{ page.title }}</a>
        </h1>

        <div class="meta text-muted">
          by
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://twitter.com/{{ page.author.twitter }}" rel="author" title="{{ page.author.name }}">
              <span itemprop="name">{{ page.author.name }}</span>
            </a>
          </span>
          &mdash;
          <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%d-%B" }}"> {{ page.date | date: "%B %d, %Y" }}
        </div>

        {% if page.subtitle %}
          <h3 itemprop="headline">{{ page.subtitle }}</h3>
        {% endif %}
      </header>

      <section class="post-body" itemprop="articleBody">
        {{ content }}
      </section>

      <section class="hire-us text-center">
        <h3 class="lead">Need help with your project?</h3>
        <p>
          We specialize in Ruby on Rails and JavaScript projects. Code audits, maintenance and feature development on existing apps, or new application development. We've got you covered.
        </p>
        <p><a class="btn btn-lg btn-primary" href="/#contact" role="button">Get in touch!</a></p>
      </section>
    </div>
  </div>
</article>
