<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-logo" itemscope itemtype="http://schema.org/Organization">
          {% asset logo.svg itemprop='logo' %}
          <h2 itemprop="name">{{ site.company.name }}</h2>
          <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ site.company.address.street }}</span>
            <br />
            <span itemprop="addressLocality">{{ site.company.address.city }}</span>,
            <span itemprop="addressRegion">{{ site.company.address.state }}</span>
            <span itemprop="postalCode">{{ site.company.address.zip }}</span>
          </p>
          <p itemprop="telephone">{{ site.company.phone }}</p>
        </div>
      </div>

      <div class="col-sm-3">
        <h3>Services</h3>
        <ul class="list-unstyled">
          <li><a href="/#about" class="scroll">Web Application Development</a></li>
          <li><a href="/ruby-on-rails/maintenance">Web Application Maintenance</a></li>
          <li><a href="/ruby-on-rails/upgrades">Web Application Upgrades</a></li>
          <li><a href="/ruby-on-rails/code-audits">Code Audits</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li><a href="/#about" class="scroll">About Us</a></li>
          <li><a href="/blog">Our Blog</a></li>
          <li><a href="/#contact" class="scroll">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <a class="icon" href="https://twitter.com/{{ site.company.social.twitter }}" title="Follow on Twitter" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="icon" href="https://github.com/{{ site.company.social.github }}" title="Follow on GitHub" target="_blank">
          <i class="fa fa-github"></i>
        </a>

        <a class="icon" href="/feed.xml" title="RSS Feed">
          <i class="fa fa-rss"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<div class="text-center copyright">
  <p class="muted small">
    &copy; 2014 - {{ site.time | date: "%Y" }} {{ site.company.name }}
    <br/>
    <a href="/privacy-policy">Privacy Policy</a> |
    <a href="/terms-of-service">Terms of Service</a>
    <br/>
    Night Sky image courtesy of
    <a href="http://www.flickr.com/photos/scotbot/9646495326/">Scott Wylie</a>
    under <a href="https://creativecommons.org/licenses/by/2.0/">CC by 2.0, some rights reserved.</a>
  </p>
</div>
