<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="/js/vendor/modernizr.custom.js"></script>
<script src="/js/vendor/classie.js"></script>
<script src="/js/vendor/cbpAnimatedHeader.min.js"></script>
<script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/js/vendor/isotope.min.js"></script>
<script src="/js/vendor/jquery.flexslider-min.js"></script>
<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/js/vendor/jquery.mb.YTPlayer.js"></script>
<script src="/js/vendor/jquery.nav.js"></script>
<script src="/js/vendor/jquery.scrollTo.js"></script>
<script src="/js/vendor/jquery.validate.min.js"></script>
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/scrollReveal.js"></script>
<script src="/js/vendor/boostrap-select.min.js"></script>

{% vite_javascript_tag application %}
