- if browser.ie?
  = flash_box :alert, "For the best user experience we recommend using a browser other than Internet Explorer. #{link_to "Upgrade your browser", "http://browsehappy.com/"} to Chrome, Firefox, or Safari to improve your experience.".html_safe
