@import "theme/_variables.css.scss";

input[name="hp-input"] {
  position: absolute;
  left: -999em;
}

@media (max-width: 480px) {
  .submit-button {
    button {
      font-size: 1.5em;
    }
  }
}
