body > .navbar {
  margin-bottom: 0;

  .navbar-brand {
    height: auto;

    img {
      height: 40px;
      margin-right: 10px;
    }
  }

  .nav {
    padding: 15px 0 0;

    li {
      a {
        color: #444;
        line-height: 1;

        &:hover {
          background-color: inherit;
          color: $accent;
        }
      }
    }

    &.navbar-right {
      li {
        a {
          font-size: 24px;
        }
      }
    }
  }

  .navbar-toggle {
    .fa.fa-bars {
      font-size: 32px;
    }
  }
}
