@import "theme/_variables.css.scss";

#blog {
  #intro {
    text-align: center;
    background-color: #2b2d35;
    color: white;
    max-height: 400px;

    h4 {
      line-height: 1.5em;
      margin-bottom: 2em;
    }

    .hero {
      max-height: 400px;

      .btn {
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 0.5em 1em;

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
          color: white;
        }
      }
    }
  }

  article.container {
    padding-top: 2em;
  }

  hr {
    border-color: #e6e6e6;
    margin: 3em 0;
  }
}

.post {
  margin-top: 70px;

  header {
    background: #2b2d35;
    padding: 100px 25%;

    h1 {
      font-size: 48px;
      line-height: 1.4;
      margin-top: 0;

      a {
        color: #fff;
        &:hover {
          border: 0;
        }
      }
    }
  }

  .post-body {
    text-align: left;

    & > p {
      margin-bottom: 1.5em;

      a {
        border-bottom: 1px solid rgba(255, 186, 67, 0.25);
      }
    }
  }
}

.hire-us {
  border-top: 1px solid #ccc;
  margin-bottom: 50px;

  .btn-primary {
    background: $primary-color;

    &:hover {
      background: $btn-hover;
    }
  }
}

.pullquote-right:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 30%;
  margin: 0em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
  text-align: center;
}

.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: left;
  width: 30%;
  margin: 0em 1.5em 1em 0;

  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
  text-align: center;
}

blockquote {
  &.pull-left {
    margin-right: 50px;
    max-width: 250px;
  }

  &.pull-right {
    margin-left: 50px;
    max-width: 250px;
  }
}

.with-padding {
  padding: 25px;
}

@media screen and (max-width: 768px) {
  #blog {
    #intro {
      max-height: 470px;
      padding: 70px 0;
    }
  }

  .post {
    header {
      padding: 60px 15px;
    }
  }

  blockquote {

    &.pull-left {
      border: 0;
      float: none!important;
      font-size: 17.5px;
      margin: 0 0 20px;
      max-width: 100%;
      padding: 10px 20px;
      text-align: left;
    }

    &.pull-right {
      border: 0;
      float: none!important;
      font-size: 17.5px;
      margin: 0 0 20px;
      max-width: 100%;
      padding: 10px 20px;
      text-align: left;
    }
  }
}
