#blog {
  #intro {
    text-align: center;
    padding: 120px 3em 50px;
    background-color: #2b2d35;
    color: white;

    h4 {
      line-height: 1.5em;
      margin-bottom: 2em;
    }

    .hero {
      .btn {
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 0.5em 1em;

        &:hover {
          background-color: #ffba43;
          border-color: #ffba43;
          color: white;
        }
      }
    }
  }

  article.container {
    padding-top: 2em;
  }

  hr {
    border-color: #e6e6e6;
    margin: 3em 0;
  }
}

.post {
  margin-top: 100px;

  .post-body {
    border-top: 1px solid #e9e9e9;
    margin-top: 2em;
    padding-top: 2em;
    text-align: left;

    p {
      margin-bottom: 1.5em;
    }
  }
}

.pullquote-right:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 30%;
  margin: 0em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
  text-align: center;
}

.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: left;
  width: 30%;
  margin: 0em 1.5em 1em 0;

  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #blog {
    #intro {
      padding: 70px 3em;
    }
  }
}
