#home {
  #intro {
    a.next-section {
      bottom: 5%;
      color: #fff;
      font-size: 25px;
      font-weight: 100;
      left: 50%;
      position: absolute;
    }
  }

  .featured {
    p {
      font-size: 20px;

      a {
        text-decoration: underline;
      }
    }

    .overlay-bg.black {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 480px) {
  #home {
    .testimonial {
      p {
        font-size: 1.2em !important;
        text-align: center;
      }
    }
  }
}