@import "theme/_variables.css.scss";

#landing {
  #intro {
    h1 {
      font-weight: normal;
      margin: 0.5em 0;
    }

    p {
      font-size: 24px;
      line-height: 1.6em;
      margin: 0;

      &.lead {
        margin: 1em 0;
      }
    }

    .carousel-caption-center {
      max-height: 50%;
      max-width: none;
    }
  }

  a.btn, button[type=submit] {
    font-size: 22px;
    text-shadow: 1px 1px #999;
  }

  blockquote {
    font-size: 20px;
  }

  h3 {
    color: $primary-color;
    font-size: 2em;
    margin: 1em 0;
    text-transform: uppercase;
  }

  h4 {
    color: #337ab7;
    font-size: 20px;
    line-height: 28px;
    vertical-align: top;

    b {
      line-height: inherit;
      vertical-align: inherit;
    }

    .fa {
      font-size: 1.4em;
      margin-right: 5px;
    }
  }

  p {
    font-size: 1.4em;
  }

  ul.checklist {
    list-style-type: none;
    padding: 0;

    li {
      color: white;
      font-size: 1.4em;
      margin-left: 30px;
      text-align: left;
      text-indent: -19px;

      .fa-check {
        color: #5cb85c;
        font-size: 1.4em;
        margin-right: 5px;
      }
    }
  }

  .contact-form {
    button {
      font-size: 1.5em;
      margin: 0;
      padding: 0.75em 1em;
    }
  }

  .testimonial {
    p {
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 768px) {
  #landing {
    #intro {
      .carousel-caption-center {
        max-height: 65%;
      }

      p.lead {
        font-size: 18px;
        text-align: center;
      }

      a.btn {
        font-size: 18px;
      }
    }

    h4 {
      text-align: left;
      text-indent: -18px;
      margin-left: 35px;
    }

    p {
      font-size: 1.25em;
      text-align: left;
    }

    ul.checklist {
      li {
        font-size: 1.25em;
      }
    }

    .testimonial {
      img {
        margin-bottom: 1em;
      }

      p {
        font-size: 0.9em;
        text-align: center;
      }
    }
  }
}
