#projects {
  margin-top: 4em;
}

#portfolio {
  img {
    width: 313px;
  }
}

@media (max-width: 767px) {
  #portfolio {
    img {
      width: 325px;
    }

    .portfolio-item {
      position: relative !important;
      top: initial !important;
      left: initial !important;

      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #portfolio {
    img {
      width: 344px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #portfolio {
    img {
      width: 216px;
    }
  }
}