#team {
  padding-bottom: 2em;

  .icon {
    font-size: 2em;
    width: 40px;
  }
}

.author-box {
  margin-top: 50px;
  padding: 30px;

  h3 {
    margin-top: 0;
    font-size: 1.2em;
  }

  h4 {
    margin-top: 0;
    font-size: 1.1em;
  }

  p {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
  }

  .links {
    text-align: right;

    .icon {
      font-size: 2em;
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .author-box {
    .name {
      padding: 1em 0;
      text-align: center;
    }

    .links {
      padding: 0 0 1em 0;
      text-align: center;
    }

    p {
      font-size: 0.9em;
      text-align: center;
    }
  }
}
