#intro .carousel-caption-center h1,
#intro .carousel-caption-center h2,
#intro .carousel-caption-center p {
  color: #FFF;
}

#testimonials {
  .carousel {
    blockquote {
      p {
        line-height: 1.5;
      }

      img {
        margin-top: 8px;
      }
    }
  }
}

.navbar-brand {
  line-height: 80px;
  padding-top: 0px;

  img {
    vertical-align: top;
    width: 80px;
  }
}

.cbp-af-header-shrink {
  .navbar-brand {
    line-height: 50px;

    img {
      width: 50px;

          -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
    }
  }
}

.cbp-af-header,
.cbp-af-header h1,
.cbp-af-header .nav a,
.cbp-af-header .navbar-brand img {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.cbp-af-header h1,
.cbp-af-header .nav a {
  line-height: 100px;
}

#contact-form-error,
#contact-form-success {
  margin: 2em auto 0em;
  width: 600px;

  .close {
    margin-left: 1em;
  }
}

.contact-form {
  .form-group {
    margin-bottom: 0;
  }

  input.form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    line-height: 25px;
    padding: 0 0 0 20px;
    width: 100%;

    &.first, &.last {
      float: left;
      width: 50%;
      margin: 0;
    }

    &.first {
      border-radius: 4px 0 0 0;
    }

    &.last {
      border-left: 0;
      border-radius: 0 4px 0 0;
    }

    &.company,
    &.email,
    &.phone {
      border-top: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
    }

    &:focus {
      outline: none;
      background: #f1f1f1;
      color: rgba(51, 51, 51, 0.7);
    }
  }

  .form-control.budget {
    border-top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }

  div.bootstrap-select.budget {
    height: 50px;
    line-height: 25px;
    margin: 0;

    .btn.selectpicker {
      border-radius: 0;
      background: transparent;
      border: none;
      color: #999;
      height: 50px;
      line-height: 25px;
      margin-top: 0;
      padding: 0 0 0 20px;
      text-transform: initial;
      width: 100%;
    }
  }
}

.has-error .form-control {
  border-color: rgba(0,0,0,0.1);
  border-right-color: #a94442 !important;
  border-right-width: 3px !important;

  &:focus {
    border-color: rgba(0,0,0,0.1);
  }
}

.inner {
  .cbp-af-header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #eee;

    .dropdown-menu {
      position: absolute;
      top: 100%;
    }

    h1,
    .nav a {
      line-height: 40px;
      color: black;
    }

    .nav a.btn {
      line-height: 1.7;
      margin-top: 0.9em;
    }

    .nav a.login:before {
      top: 34%;
      height: 20px;
    }

    h1 {
      font-size: 1.2em;
      margin: 0.6em 0;

      a {
        color: black;
      }
    }
  }
}

.footer-logo {
  img {
    float: left;
    margin-right: 2em;
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  #contact-form-error,
  #contact-form-success {
    width: 100%;
    text-align: left;
  }

  .cbp-af-header h1 a {
    font-size: 16px;
    line-height: 30px;
    margin: 1.3em 0;

    img {
      width: 28px;
    }
  }

  .footer-logo img {
    float: none;
    margin: 0;
    width: 80px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .cbp-af-header h1, .cbp-af-header .nav a {
    margin-left: 0;
  }
}
