/ MAIN WRAPPER
.body-wrap
  #st-container.st-container
    .st-pusher
      .st-content
        .st-content-inner
          = render 'layouts/nav'

          %section.swiper-js-container.background-image-holder
            .swiper-container{"data-swiper-autoplay" => "true", "data-swiper-effect" => "slide", "data-swiper-items" => "1", "data-swiper-space-between" => "0"}
              .swiper-wrapper
                / Slide
                .swiper-slide{"data-swiper-autoplay" => "8000"}
                  .holder-item.holder-item-light.has-bg-cover.bg-size-cover{:style => "padding-bottom: 350px; background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;"}
                    %span.mask.mask-base-1--style-1
                    .container.container-lg.slice--offset-top.d-flex.align-items-center
                      .col.px-0
                        .row
                          .col-lg-6
                            %h2.heading.heading-xl.strong-600.text-normal.line-height-1_2.animated{"data-animation-delay" => "200", "data-animation-in" => "fadeInDownBig"}
                              Start your business with Boomerang
                            %p.lead.animated.mt-4{"data-animation-delay" => "200", "data-animation-in" => "fadeInUpBig"}
                              Boomerang for Startups is an innovative HTML template solution based on Bootstrap 4, which combines beautiful design and flawless functionality.
                            %a.btn.btn-styled.btn-lg.btn-white.btn-circle.btn-outline.mt-5.animated{"data-animation-delay" => "1000", "data-animation-in" => "fadeInUpBig", "data-scroll-to" => "#sct_what_we_do", :href => "https://goo.gl/9BbH7R"}
                              See what we do
              .shape-container{"data-shape-fill" => "sct-color-1", "data-shape-position" => "bottom", :style => "height: 350px;"}
                %svg.shape-item{:fill => "", :preserveaspectratio => "none", :viewbox => "0 0 1000 300", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z"}
          %section#sct_what_we_do.slice.sct-color-1
            .container.container-lg
              .row.cols-xs-space.cols-sm-space.cols-md-space
                .col-12.col-lg-4.animate-on-scroll.fadeInDown
                  .icon-block.icon-block--style-1-v5.px-4
                    .block-icon
                      %img{:src => "../../assets/images/icons/purple/png/positive-dynamic.png"}/
                    .block-content
                      %h3.heading.heading-4.strong-600.text-capitalize Growing up sales
                      %p
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .col-12.col-lg-4.animate-on-scroll.fadeInDown{"data-wow-delay" => "0.3s"}
                  .icon-block.icon-block--style-1-v5.px-4
                    .block-icon
                      %img{:src => "../../assets/images/icons/purple/png/light-on.png"}/
                    .block-content
                      %h3.heading.heading-4.strong-600.text-capitalize Business strategy
                      %p
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .col-12.col-lg-4.animate-on-scroll.fadeInDown{"data-wow-delay" => "0.6s"}
                  .icon-block.icon-block--style-1-v5.px-4
                    .block-icon
                      %img{:src => "../../assets/images/icons/purple/png/money-bag.png"}/
                    .block-content
                      %h3.heading.heading-4.strong-600.text-capitalize Increase profits
                      %p
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %section.slice-lg.sct-color-1
            .container.container-lg
              .row.cols-xs-space.cols-sm-space.cols-md-space.align-items-center
                .col-lg-6.order-lg-2.animate-on-scroll.fadeIn
                  .block.block-image-holder
                    .block-image
                      %img.img-fluid{:src => "../../assets/images/prv/other/img-15-1000x900.jpg"}/
                .col-lg-6.order-lg-1.animate-on-scroll.fadeIn{"data-wow-delay" => "0.3s"}
                  .feature.feature--boxed-border.floating-content.float--width-200.sct-color-1.border-0.no-bg.px-0
                    %h2.heading.heading-5.c-gray-light.text-uppercase.strong-600
                      About our business
                    %h2.heading.heading-1.strong-600.mt-4
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
                    %a.btn.btn-styled.btn-base-1.btn-circle.mt-5{:href => "#"} Learn more
          %section.slice-lg.sct-color-1
            .container-fluid
              .swiper-container-coverflow{"data-swiper-initial-slide" => "3", "data-swiper-items" => "5", "data-swiper-sm-items" => "2", "data-swiper-sm-space-between" => "0", "data-swiper-space-between" => "0", "data-swiper-xs-items" => "1", "data-swiper-xs-space-between" => "0"}
                .swiper-wrapper
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.9s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-7.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-7.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.6s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-1.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-1.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.3s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-2.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-2.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-3.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-3.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.3s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-4.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-4.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.6s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-5.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-5.jpg"}/
                  .swiper-slide.animate-on-scroll.fadeIn{"data-wow-delay" => "0.9s"}
                    .block.block--style-5.mb-0
                      .block-image
                        %a{"data-fancybox" => "apps", :href => "../../assets/images/prv/app/mobile-6.jpg"}
                          %img{:src => "../../assets/images/prv/app/mobile-6.jpg"}/
          %section.slice-xl.pt-5.sct-color-1
            .container.container-lg
              .section-title.section-title--style-1.text-center.mb-2.animate-on-scroll.fadeInDown
                %h3.section-title-inner.text-normal.strong-600
                  %span Reasons to work with us
                %span.section-title-delimiter.clearfix.d-none
              %span.clearfix
              .fluid-paragraph.fluid-paragraph-sm.c-gray-light.strong-300.text-center.animate-on-scroll.fadeInDown{"data-wow-delay" => "0.3s"}
                Start building fast, beautiful and modern looking websites in no time using our theme.
              %span.space-xs-xl
              .row-wrapper
                .row.cols-xs-space.cols-sm-space.cols-md-space
                  .col-lg-6.col-sm-12.col-12
                    .feature.feature--boxed-border.feature--bg-1.z-depth-2-top.animate-on-scroll.fadeInLeft
                      .icon-block.icon-block--style-1-v2
                        .block-icon.text-xs-left
                          %i.icon-mouse
                        .block-content
                          %h3.heading.heading-4.strong-600 Customizable within a few clicks
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                          %a.link.link-sm.mt-3{:href => "#"} Learn more
                  .col-lg-6.col-sm-12.col-12
                    .feature.feature--boxed-border.feature--bg-1.z-depth-2-top.animate-on-scroll.fadeInRight
                      .icon-block.icon-block--style-1-v2
                        .block-icon.text-xs-left
                          %i.icon-screen-tablet
                        .block-content
                          %h3.heading.heading-4.strong-600 Fully responsive on any device
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                          %a.link.link-sm.mt-3{:href => "#"} Learn more
                .row.cols-xs-space.cols-sm-space.cols-md-space
                  .col-lg-6.col-sm-12.col-12
                    .feature.feature--boxed-border.feature--bg-1.z-depth-2-top.animate-on-scroll.fadeInLeft
                      .icon-block.icon-block--style-1-v2
                        .block-icon.text-xs-left
                          %i.icon-cloud-download
                        .block-content
                          %h3.heading.heading-4.strong-600 New layouts and features every month
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                          %a.link.link-sm.mt-3{:href => "#"} Learn more
                  .col-lg-6.col-sm-12.col-12
                    .feature.feature--boxed-border.feature--bg-1.z-depth-2-top.animate-on-scroll.fadeInRight
                      .icon-block.icon-block--style-1-v2
                        .block-icon.text-xs-left
                          %i.icon-like
                        .block-content
                          %h3.heading.heading-4.strong-600 Built around your suggestions
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque congue augue rutrum neque iaculis porta.
                          %a.link.link-sm.mt-3{:href => "#"} Learn more
          %section.slice-xl.slice-video.d-flex.align-items-center{"data-vide-bg" => "../../assets/media/video/broadwaycrew.mp4", "data-vide-options" => "loop: true, muted: false, position: 0% 0%"}
            %span.mask.mask-dark--style-1.alpha-7
            .container.container-lg
              .col
                .row.justify-content-center
                  .col-md-10.text-center
                    %h2.heading.heading-responsive.heading-6.c-gray-lighter.text-uppercase.strong-600
                      Ready to grow faster?
                    %h3.heading.heading-inverse.heading-xl.strong-600.mt-3.text-capitalize Create your own experience
                    %a.play-video.play-video-inline.play-video--2.mt-4{"data-fancybox" => "", :href => "https://www.youtube.com/watch?v=zodT9bCdIiI"}
                      %i.fa.fa-play
          %section.slice-xl.sct-color-1
            .container.container-lg
              .row.cols-xs-space.cols-sm-space.cols-md-space
                .col-lg-7
                  %small.heading.heading-sm.strong-300.text-uppercase.ls-2.c-gray-light The challenge
                  %h2.heading.heading-1.c-base-1.strong-600.mt-3
                    When you possess great treasures within you and try to tell others of them, seldom are you believed.
              %span.space-xs-xl
              .row
                .col-lg-4
                  %p.lead
                    "People need not fear the unknown if they are capable of achieving what they need and want."
                  %span.clearfix
                  %h6.heading-sm.c-gray-light.mt-3 Photos by Bertram Ozzie
                .col-lg-6.ml-lg-auto
                  %p.lead
                    She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly followed.
              %span.space-xs-xl
              .row.align-items-md-center.cols-xs-space.cols-md-space.cols-lg-space
                .col-lg-3.col-md-6
                  .icon-block.icon-block--style-1-v5.text-center
                    .block-icon.block-icon-lg.mb-0
                      %i.icon-basic-heart
                    .block-content
                      %h3.heading.heading-lg.c-base-1 97%
                      %h3.heading.heading-5.strong-500 Happy clients
                .col-lg-3.col-md-6
                  .icon-block.icon-block--style-1-v5.text-center
                    .block-icon.block-icon-lg.mb-0
                      %i.icon-basic-clockwise
                    .block-content
                      %h3.heading.heading-lg.c-base-1 365x7
                      %h3.heading.heading-5.strong-500 Customer support
                .col-lg-3.col-md-6
                  .icon-block.icon-block--style-1-v5.text-center
                    .block-icon.block-icon-lg.mb-0
                      %i.icon-basic-webpage-multiple
                    .block-content
                      %h3.heading.heading-lg.c-base-1 200+
                      %h3.heading.heading-5.strong-500 Built-in layouts
                .col-lg-3.col-md-6
                  .icon-block.icon-block--style-1-v5.text-center
                    .block-icon.block-icon-lg.mb-0
                      %i.icon-software-layers2
                    .block-content
                      %h3.heading.heading-lg.c-base-1 970
                      %h3.heading.heading-5.strong-500 Components &amp; Shortcodes
          %section.slice-xl.sct-color-1.border-top
            .container.container-lg
              .section-title.section-title--style-1.text-center
                %h3.section-title-inner.text-normal.strong-600
                  %span In the news
              .row.cols-md-space.cols-sm-space.cols-xs-space
                .col-lg-4
                  .block.block-image-holder.image-animate-wrapper
                    .block-image.image-animate--hover
                      %img.img-fluid.img-center{:src => "../../assets/images/prv/travel/img-wide-1.jpg"}/
                    .pt-4
                      %span.heading.heading-xs.text-uppercase.strong-300 Oct 15, 2018
                      %a.heading.heading-4.d-block.strong-600.mt-1{:href => "#"} Beware the mountain
                      %p.mt-3
                        When we strive to become better than we are, everything around us becomes better, too.
                .col-lg-4
                  .block.block-image-holder.image-animate-wrapper
                    .block-image.image-animate--hover
                      %a{:href => "#"}
                        %img{:src => "../../assets/images/prv/travel/img-wide-2.jpg"}/
                    .pt-4
                      %span.heading.heading-xs.text-uppercase.strong-300 Oct 15, 2018
                      %a.heading.heading-4.d-block.strong-600.mt-1{:href => "#"} Listen to the nature
                      %p.mt-3
                        When we strive to become better than we are, everything around us becomes better, too.
                .col-lg-4
                  .block.block-image-holder.image-animate-wrapper
                    .block-image.image-animate--hover
                      %a{:href => "#"}
                        %img{:src => "../../assets/images/prv/travel/img-wide-3.jpg"}/
                    .pt-4
                      %span.heading.heading-xs.text-uppercase.strong-300 Oct 15, 2018
                      %a.heading.heading-4.d-block.strong-600.mt-1{:href => "#"} Rules not to follow
                      %p.mt-3
                        When we strive to become better than we are, everything around us becomes better, too.
              %span.space-xs-xl
              .text-center
                %a.link.link-sm.link--style-2.text-upeprcase.text-uppercase.strong-600{:href => "#"}
                  All posts
                  %i.ion-ios-arrow-right.ml-1
          %section.slice-xl.bg-base-1{:style => "padding-top: 350px; padding-bottom: 200px;"}
            .shape-container{"data-shape-fill" => "sct-color-1", "data-shape-position" => "top", "data-shape-style" => "opaque_waves_1", :style => "height: 350px;"}
              %svg.shape-item{:fill => "", :preserveaspectratio => "none", :viewbox => "0 0 1000 300", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"}
                %path{:d => "M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"}
                %path{:d => "M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"}
            .container.container-lg
              .row.justify-content-center
                .col-md-8.text-center
                  %h2.heading.heading-inverse.heading-1.strong-600.mt-3
                    Let's create something wonderful together!
                  %a.btn.btn-styled.btn-lg.btn-white.btn-outline.btn-circle.mt-5{:href => "https://goo.gl/9BbH7R"} Purchase Boomerang
          / FOOTER
          %footer#footer.footer
            .footer-top
              .container.container-lg
                .row.cols-xs-space.cols-sm-space.cols-md-space
                  .col-lg-3
                    .col
                      %h4.heading.heading-xs.strong-600.text-uppercase.mb-3
                        Quick links
                      %ul.footer-links
                        %li
                          %a{:href => "#"} Home
                        %li
                          %a{:href => "#"} About us
                        %li
                          %a{:href => "#"} Services
                        %li
                          %a{:href => "#"} Blog
                        %li
                          %a{:href => "#"} Contact
                  .col-lg-3
                    .col
                      %h4.heading.heading-xs.strong-600.text-uppercase.mb-3
                        Support
                      %ul.footer-links
                        %li
                          %a{:href => "#"} Help center
                        %li
                          %a{:href => "#"} Discussions
                        %li
                          %a{:href => "#"} Contact
                        %li
                          %a{:href => "#"} Blog
                        %li
                          %a{:href => "#"} FAQ
                  .col-lg-3
                    .col
                      %h4.heading.heading-xs.strong-600.text-uppercase.mb-3
                        Archives
                      %ul.footer-links
                        %li
                          %a{:href => "#", :title => "Help center"} May 2018
                        %li
                          %a{:href => "#", :title => "Discussions"} June 2018
                        %li
                          %a{:href => "#", :title => "Contact support"} July 2018
                        %li
                          %a{:href => "#", :title => "Blog"} August 2018
                        %li
                          %a{:href => "#", :title => "Jobs"} September 2018
                        %li
                          %a{:href => "#", :title => "Jobs"} October 2018
                        %li
                          %a{:href => "#", :title => "Jobs"} November 2018
                  .col-lg-3
                    .col
                      %h4.heading.heading-xs.strong-600.text-uppercase.mb-3
                        About Boomerang
                      %p
                        150 Southeast Pidgeon Meadow
                        %br/
                        Claflin Terrace, 305458
                      %p.lead.mt-4.mb-4
                        E:
                        %a{:href => "#"} support@webpixels.io
                        %br/
                        T: 0755.222.333
    / END: st-pusher
  / END: st-container
/ END: body-wrap
/ SCRIPTS
%a.back-to-top.btn-back-to-top{:href => "#"}
