// Original Colors...
// $primary-color: #88b7b3;
// $secondary-color: #528783;
// $btn-hover: #68a49f;
// $icon-wrapper-color: rgba(137, 184, 180, 0.4);


$primary-color: #ffba43;
$secondary-color: #dc8b00;
$link-color: #f2ad36;
$btn-hover: #ffa710;
$icon-wrapper-color: rgba(255, 186, 66, 0.9);
