defaults: &defaults
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  pool:     5
  username: admin
  password:
  template: template0

development: &dev
  <<: *defaults
  database: velocitylabs_development

test: &test
  <<: *defaults
  database: velocitylabs_test

production:
  <<: *dev

staging:
  <<: *dev
