---
contact:
  button: Click Here To Request A Story Workshop
excerpt:
  There are many nuances to creating custom software.
  Let our years of experience guide you before writing a
  single line of code.
heading: You Have An Idea, Now What?
layout: landing
lead:
  Discover exactly what it will take to build out your idea,
  and get a roadmap to help ensure your project is successful.
title: Software Project Story Workshop
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">
          <blockquote>
            "I have a great idea, but I'm not a coder... I wouldn't even
            know where to begin! How do I make this idea something real?"
          </blockquote>
        </h2>

        <p>
          Have you asked yourself this question? <b>You're not alone.</b>
        </p>

        <p>
          We hear similar questions all the time. In fact, most of the
          people we encounter are in this exact position. While they have
          the business acumen and domain knowledge to make a successful
          business, they don't know how to create the software on top of
          which their business will be built.
        </p>

        <p>
          By creating software, you're making a significant investment in
          your business. The software might be what your core business is built
          on, or maybe something that compliments your business. Whatever the
          case, it's important to first gain a technological understanding of
          the idea, <i>before beginning to build</i>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="text-center">We Have The Experience Necessary To Help You Define Your Software</h3>
        <p>
          The team at Velocity Labs has been creating software since 2001.
          Over the years, we have approached software in different ways
          and have used various methodologies. It took us many years
          of experimentation, trial, and error to arrive at where we are
          today.
        </p>

        <p>
          One of the most profound lessons we've taken from our experiences is
          that the creation of software is not a static endeavor. It is a
          living, breathing process that changes as the understanding of the
          product, market, and customer's needs change.
        </p>

        <p>
          Since 2007, we've been using an approach to defining, understanding,
          and building software that has yielded much greater flexibility for
          our clients. It has resulted in more accurate estimates and reduced
          the frustration often experienced during the software development
          lifecycle.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="text-center">Our Approach: The Story Workshop</h3>

        <p>
          Our story workshop process allows us to dig deep into your idea
          and extract the functionality necessary for the product to be
          successful. The questions we ask are intended to get you thinking
          about how the application should function and how you see users
          interacting with it.
        </p>

        <p>
          By the end of the story workshop, we will understand the who, what,
          and why of user interactions with your software.
        </p>
      </div>

      <div class="col-lg-4">
        <h4>
          <i class="fa fa-users"></i>
          The Who
        </h4>

        <p>
          There may be several actors in the system. What are their roles, how
          do they interact with each other, and what are the limitations, if
          any, imposed by the system?
        </p>
      </div>

      <div class="col-lg-4">
        <h4>
          <i class="fa fa-trophy"></i>
          The What
        </h4>

        <p>
          Users are typically trying to accomplish some task. What are those
          tasks, which roles are completing them, and what is the outcome of
          completing, or failing to complete, a task.
        </p>
      </div>

      <div class="col-lg-4">
        <h4>
          <i class="fa fa-question"></i>
          The Why
        </h4>

        <p>
          It's important to know why a particular feature is important to your
          users and your business. This will help a lot when it comes to
          prioritizing functionality.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="dark testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        {% assign testimonials = site.data.testimonials | where:"name","Andrew Hyde" %}
        {% for testimonial in testimonials limit: 1 %}
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img width="100" height="100" class="img-rounded" src="https://secure.gravatar.com/avatar/{{ testimonial.avatar }}?r=g&s=100">
              </div>
              <div class="col-sm-9">
                <p>&ldquo;{{ testimonial.quote }}&rdquo;</p>
                <p><small>{{ testimonial.name }} - <a href="{{ testimonial.link.href }}" target="_blank">{{ testimonial.link.text }}</a></small></p>
              </div>
            </div>
          </blockquote>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="text-center">How Much Does It Cost?</h3>

        <p>
          Our Software Project Story Workshop is <b>only $1,500</b> and
          usually takes a full day. You'll receive access to all of the
          information captured during the story workshop process, along
          with our proposal to turn those items into fully-functioning
          software.
        </p>

        <p>
          Afterward, there's no obligation to hire us to build your
          software. If we haven't convinced you that we can successfully
          execute your project, feel free to take the output of the story
          workshop to another developer; no hard feelings!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="dark testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        {% assign testimonials = site.data.testimonials | where:"name","Josephine Morris" %}
        {% for testimonial in testimonials limit: 1 %}
          <blockquote>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img width="100" height="100" class="img-rounded" src="https://secure.gravatar.com/avatar/{{ testimonial.avatar }}?r=g&s=100">
              </div>
              <div class="col-sm-9">
                <p>&ldquo;{{ testimonial.quote }}&rdquo;</p>
                <p><small>{{ testimonial.name }} - <a href="{{ testimonial.link.href }}" target="_blank">{{ testimonial.link.text }}</a></small></p>
              </div>
            </div>
          </blockquote>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="text-center">Are You Ready To Get Started?</h3>

        <p>
          Fill out the form below and we'll get back to you quickly to
          discuss your application. We've helped many companies and are
          confident we'll be able to help you, too.
        </p>

        <div id="contact-form-success"></div>

        <div class='contact-form'>
          <form action="/contact-form" name="sentMessage" id="contactForm" role="form" novalidate data-form="Story Workshop Form">
            <div class='form-group col-lg-8 col-lg-offset-2'>
              <input class='form-control name' placeholder='Name' type="text" id="name" name="name">
            </div>

            <div class="form-group col-lg-8 col-lg-offset-2">
              <input class='form-control email' placeholder='E-mail Address' type='email' id="email" name="email">
            </div>

            <input name="message" type="hidden" value="Story Workshop inquiry.">
            <input name="hp-input" placeholder="Do not fill" type="text">

            <div id="contact-form-error"></div>

            <footer class="submit-button">
              <button type="submit">Request Your Story Workshop</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
