---
layout: blog
excerpt: Articles on Ruby on Rails, JavaScript, software development process and our software consulting business. Brought to you by the team at Velocity Labs.
title: The Lab Notebook Blog
---

<div id="posts" class="scroll">
  <article class="container">
    {% for post in paginator.posts %}
      {% unless post.draft %}
        {% assign authors = site.data.people | where:"id",post.author_id %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url }}" rel="prefetch" class="btn btn-outline-primary">Read The Article &raquo;</a>
            <hr />
          </div>
        </div>
      {% endunless %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous btn btn-outline">‹ Newer</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next btn btn-outline">Older ›</a>
      {% endif %}
    </div>
  </article>
</div>
