---
layout: blog
excerpt: Articles on development, process and business. Brought to you by Velocity Labs.
title: The Lab Notebook Blog
---

<div id="posts" class="scroll">
  <article class="container">
    {% for post in paginator.posts %}
      {% unless post.draft %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
              <a href="https://twitter.com/{{post.author.twitter}}">{{ post.author.name }}</a> &mdash;
              <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">
                {{ post.date | date: "%B %d, %Y" }}
              </time>
            </div>
            <hr />
          </div>
        </div>
      {% endunless %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous btn btn-outline">‹ Newer</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next btn btn-outline">Older ›</a>
      {% endif %}
    </div>
  </article>
</div>
