body > footer {
  background-color: #000;
  color: #fff;
  opacity: 0.75;
  padding: 40px 0 10px;

  a {
    color: #fff;

    &:hover {
      background-color: inherit;
      color: $accent;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }

  .social {
    text-align: center;

    a {
      display: inline-block;
      font-size: 30px;
      text-align: center;
      width: 40px;
    }
  }
}
