<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.company.name }}{% endif %}">

    <meta property="og:site_name" content="{{ site.company.name }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.company.name }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}{{ assets['logo-text.png'].digest_path }}"/>
    {% if page.og_type %}
      <meta property="og:type" content="{{ page.og_type }}"/>
    {% else %}
      <meta property="og:type" content="website"/>
    {% endif %}

    {% if page.excerpt %}
      <meta property="og:description" content="{{ page.excerpt }}"/>
      <meta name="description" content="{{ page.excerpt }}"/>
    {% else %}
      <meta property="og:description" content="{{ site.company.description }}"/>
      <meta name="description" content="{{ site.company.description }}"/>
    {% endif %}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.company.subtitle }}{% endif %} | {{ site.company.name }}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">

    {% asset main.scss %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.company.logo }}"/>

    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.company.name }}" />

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% include _google-analytics.html %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>
    {{ content }}
    {% include _footer.html %}
    {% include _scripts.html %}

    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
  </body>
</html>
