---
layout: base
---
<div id="blog">
  {% include _nav.html %}

  <!-- Hero Section
  ================================================== -->
  <div id="intro">
    <div class="hero">
      <h1>{{ site.inc.blog.title }}</h1>
      {% if site.inc.blog.subtitle %}
        <h4>{{ site.inc.blog.subtitle }}</h4>
      {% endif %}

      <p>
        Need Ruby on Rails developers for your next project?
      </p>
      <p>
        <a class="btn btn-lg btn-primary scroll" href="/#contact" role="button">Get in touch!</a>
      </p>
    </div>
  </div>

  {{ content }}
</div>
