---
layout: base
---

<!-- Hero Section
================================================== -->
<div id="intro">
  <div class="item hero" style="background: url('{% asset_path hero.jpg %}') no-repeat;">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h2>You have an idea.</h2>
          <h1>We help bring it to life.</h1>
          <p>
            We work closely with you to develop solutions that satisfy your business requirements and meet the needs of your customers.
          </p>
          <p><a class="btn btn-lg btn-primary scroll" href="#about" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Section
================================================== -->
<section id="about" class="content text-center light">
  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 overlay-text">
        <h2>We deliver solutions, customized for your business</h2>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-cloud icon-large"></i>
        </div>
        <h3>Web Applications</h3>
        <p>We use Ruby and the Rails framework to create robust, custom web applications.</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-code icon-large"></i>
        </div>
        <h3>Code Audits</h3>
        <p>Curious about the quality of the application you've already built? We'll give it to you straight: the good, the bad and the ugly.</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-medkit icon-large"></i>
        </div>
        <h3>Application Maintenance</h3>
        <p>Application upgrades, server maintenance, bug squashing and even new features. We do it all!</p>
      </div>
    </div><!-- /.row -->
  </div>

  <div class="overlay-bg light"></div>
</section>

<!-- Featured Sections
================================================== -->
<!-- <section id="featured1" class="dark with-bg">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 overlay-text">
        <div class="vertical-align">
          <h2>We are devoted to our craft</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg black"></div>
</section>


<section id="featured2" class="featured">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <img class="margin-top img-responsive" src="{% asset_path theme/imac.png %}" alt="Generic placeholder image" data-scrollreveal="move 100px and enter from the left after 0.55s" width="429">
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="vertical-align">
          <h2>Attention is in the details.</h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

{{ content }}
