---
layout: base
---
<div id="home">
  {% include _nav.html %}

  <!-- Hero Section
  ================================================== -->
  <div id="intro">
    <div class="item hero" style="background: url('{% asset_path hero.jpg %}') no-repeat;">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <div class="col-lg-10 col-lg-offset-1">
              <h1>Let us help grow your business.</h1>
              <p>
                We create software that solves business problems,
                resulting in greater
                <span class="highlight">workflow efficiency</span>,
                <span class="highlight">more revenue</span>
                for your business, and much
                <span class="highlight">happier customers</span>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="next-section scroll hidden-xs" href="#about">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>

  <!-- About Section
  ================================================== -->
  <section id="about" class="content text-center light">
    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 overlay-text">
          <h2>Software, customized for your business.</h2>
          <p>
            We build and maintain custom web applications using Ruby on Rails and JavaScript. We follow industry best practices for coding and include a
            fully automated test suite in our delivered code.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-building-o icon-large"></i>
          </div>
          <h3 class="text-center">Enterprise</h3>
          <p>
            Team supplement, special projects, code audits, and more.
            Our clients trust us to get the job done quickly and efficiently.
          </p>
        </div>

        <div class="col-sm-4 overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-line-chart icon-large"></i>
          </div>
          <h3 class="text-center">Small Business</h3>
          <p>
            We'll work with you to evaluate existing processes, identify
            candidates for automation, and implement a solution that maximizes
            your ROI.
          </p>
        </div>

        <div class="col-sm-4 overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-rocket icon-large"></i>
          </div>
          <h3 class="text-center">Startups</h3>
          <p>
            Have an idea, but lack the technical skills to make it a reality?
            We'll help you launch quickly, and be there to adjust and scale
            when your idea takes off.
          </p>
        </div>
      </div><!-- /.row -->
    </div>

    <div class="overlay-bg light"></div>
  </section>

  <!-- Featured Sections
  ================================================== -->
  <section class="featured dark with-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 overlay-text">
          <h2>What can you expect from us?</h2>
          <p>
            First, you'll speak with a developer <b>every day</b>. We want to ensure
            the right product is built, and a high level of communication helps us achieve that. You should never be unsure about the state of your project; we'll keep you constantly informed.
          </p>

          <p>
            We're the Ruby on Rails experts and, on Day 1, we'll be committing code.
            Once we begin, we move extremely quickly. You'll get access to a dedicated server where you can review what we've accomplished, as we complete it.
          </p>

          <p>
            Are you ready to get started?
            <a href="#contact" class="scroll">Hire us today!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="overlay-bg black"></div>
  </section>

  {{ content }}
</div>
