---
layout: base
---

<div id="landing">
  {% include _nav.html %}

  <!-- Hero Section
  ================================================== -->
  <div id="intro">
    <div class="item hero" style="background: url('/images/hero.jpg') no-repeat;">
      <div class="carousel-caption-center colour-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h1>{{ page.heading }}</h1>
              <p class="lead d-none d-sm-block">{{ page.lead }}</p>
              <p>
                <a class="btn btn-lg btn-primary scroll" href="#contact" role="button">
                  {{ page.contact.button }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ content }}
</div>
