---
layout: base
---
{% assign authors = site.data.people | where:"id",page.author_id %}

{% include _small_nav.html %}

<article itemscope itemtype="http://schema.org/Article" class="post">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <header class="text-center">
        <h1 itemprop="name">
          <a itemprop="url" href="{{ page.url }}">{{ page.title }}</a>
        </h1>

        <div class="meta text-muted">
          by
          {% for author in authors limit: 1 %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <a itemprop="url" href="{{ author.links.twitter }}" rel="author" title="{{ author.name }}">
                <span itemprop="name">{{ author.name }}</span>
              </a>
            </span>
          {% endfor %}
          &mdash;
          <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%d-%B" }}"> {{ page.date | date: "%B %d, %Y" }}
        </div>

        {% if page.subtitle %}
          <h3 itemprop="headline">{{ page.subtitle }}</h3>
        {% endif %}
      </header>

      <section class="post-body" itemprop="articleBody">
        {{ content }}

        {% for author in authors limit: 1 %}
          <div class="well author-box">
            <div class="row">
              <div class="col-xs-2">
                <img width="100" height="100" class="img-responsive img-circle" src="https://secure.gravatar.com/avatar/{{ author.avatar }}?r=g&s=120" alt="{{ author.name }}" />
              </div>
              <div class="col-xs-10">
                <div class="row">
                  <div class="col-xs-8">
                    <h3>{{ author.name }}</h3>
                    <h4>{{ author.title }}</h4>
                  </div>
                  <div class="col-xs-4 text-right">
                    {% for link in author.links %}
                      <a class="icon" href="{{ link[1] }}" target="_blank"><i class="fa fa-{{ link[0] }}"></i></a>
                    {% endfor %}
                  </div>
                </div>

                <p>{{ author.bio }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>

      <section class="hire-us text-center">
        <h3 class="lead">Need help with your project?</h3>
        <p>
          We specialize in Ruby on Rails and JavaScript projects. Code audits, maintenance and feature development on existing apps, or new application development. We've got you covered.
        </p>
        <p><a class="btn btn-lg btn-primary" href="/#contact" role="button">Get in touch!</a></p>
      </section>
    </div>
  </div>
</article>
