---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  {% if page.cover_image %}
    <meta itemprop="image" src="/images/{{ page.cover_image }}">
    <div class="post-header-image" style="background-image: url(/images/{{ page.cover_image }});"></div>
  {% endif %}

  <div class="container">
    <header>
      <h1 itemprop="name">
        <a itemprop="url" href="{{ page.url }}">{{ page.title }}</a>
      </h1>

      <div class="meta text-muted">
        by <a itemprop="author" href="{{ page.author.link }}" title="{{ page.author.name }}">{{ page.author.name }}</a>
        &mdash;
        <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%d-%B" }}"> {{ page.date | date: "%B %d, %Y" }}
      </div>

      {% if page.subtitle %}
        <h3 itemprop="headline">{{ page.subtitle }}</h3>
      {% endif %}
    </header>

    <section itemprop="articleBody">
      {{ content }}
    </section>

    <section>
      {% include _social.html %}
    </section>

    {% if site.inc.disqus.shortname %}
      <section>
        {% include _disqus.html %}
      </section>
    {% endif %}
  </div>
</article>
