#subscription-form {
  #amount {
    background: transparent url('../../images/credit-cards.png') no-repeat 100% 50%;
    border: none;
    font-weight: 700;
  }
}

#subscribe-cta {
  padding: 50px 20px;
  border: 3px solid #eee;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  #subscription-form {
    #amount {
      background: #eee;
      text-align: center;
      padding: 0;
    }
  }

  #subscribe-cta {
    border: none;
  }

  #benefits {
    h4 {
      text-align: center;
      border-bottom: 1px solid;
      margin: 0 10px 10px;
      padding: 0 0 10px 24px;
    }
  }

  #terms {
    p {
      text-align: left;
    }

    dl {
      dt, dd {
        font-size: 1.5em !important;
        text-align: left;
      }
    }
  }
}
