#projects {
  margin-top: 4em;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;

  .portfolio-item {
    margin-bottom: 20px;

    img {
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  #portfolio {
    .portfolio-item {
      text-align: center;

      img {
        max-width: 325px;
      }
    }
  }
}
