@import "theme/variables";

body {
  background-color: #fff;
  color: rgba(30, 30, 30, 0.8);
}

a {
  color: $link-color;

  &:hover, &:focus {
    border-bottom: 1px solid rgba(255, 186, 67, 0.25);
    color: $link-color;
    opacity: 0.8;
    text-decoration: none !important;
  }
}

.hero {
  background-attachment: fixed!important;
}

.btn {
  white-space: normal;
  &:hover {
    opacity: 1;
  }
}

a.icon,
.navbar a,
.page-header a {
  border-bottom: none;

  &:hover, &:focus {
    border-bottom: none;
  }
}

code {
  background-color: #f2f2f2;
  color: inherit;
  font-family: monospace, serif;
  font-size: 1em;
  padding: 3px 5px;
}

li {
  p {
    margin-bottom: 0;
  }
}

ol, ul {
  margin-bottom: 2em;

  li {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 0.5em;

    p {
      font-size: 1em;
    }
  }
}

section h2 {
  font-weight: 400;
}

section p {
  font-weight: 400;
}

section.content h2 {
  font-size: 35px;
  font-weight: 800;
  margin: 1em 0;
  padding: 0;
  line-height: 1.3;
}

section.content p {
  margin-bottom: 1em;
}

section.dark.with-bg {
  padding: 50px 0 100px 0;
  background-position-y: 75%;
}

#intro .carousel-caption-center h1,
#intro .carousel-caption-center h2,
#intro .carousel-caption-center p {
  color: #FFF;
}

#intro .carousel-caption-center h1 {
  font-size: 50px;
  font-weight: 400;
}

#intro .carousel-caption-center p {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.4;
  margin: 1em 0;
}

#intro .carousel-caption-left p,
#intro-video .carousel-caption-left p {
  font-weight: 400;
}

#testimonials {
  .carousel {
    blockquote {
      p {
        font-weight: 200;
        line-height: 1.5;
      }

      img {
        margin-top: 8px;
      }
    }
  }
}

.navbar-brand {
  color: white;
  height: auto;
  float: left;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 80px;
  margin: 0.9em 0;
  padding-top: 0px;
  text-transform: uppercase;

  img {
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
}

.pagination {
  a {
    &:hover, &:focus {
      border: 1px solid $primary-color;
      color: $link-color;
    }
  }
}

.cbp-af-header-shrink {
  .navbar-brand {
    color: #666;
    font-size: 1.6em;
    line-height: 50px;
    margin: 0;
    padding-top: 10px;

    img {
      width: 50px;

          -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
    }
  }
}

.cbp-af-header,
.cbp-af-header .nav a,
.cbp-af-header .navbar-brand,
.cbp-af-header .navbar-brand img {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.cbp-af-header .nav a {
  line-height: 100px;
}

.cbp-af-header .navbar-brand {
  letter-spacing: 1px;

  a {
    img {
      margin-right: 5px;
    }
  }
}

.cbp-af-header .nav a {
  font-size: 13px;
}

#contact-form-error,
#contact-form-success {
  margin: 0 auto;
  width: 600px;

  .alert {
    margin-bottom: 0;
  }

  .btn-close {
    margin-left: 1em;
  }

  a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
}

.contact-form, #subscription-form {
  input.form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    line-height: 25px;
    padding: 0 0 0 20px;
    width: 100%;

    &:focus {
      outline: none;
      background: #f1f1f1;
      color: rgba(51, 51, 51, 0.7);
    }
  }

  textarea {
    border-radius: 0;
    height: 180px;
  }

  footer button {
    margin-top: 0;
  }
}

.has-error .form-control {
  border-color: #a94442 !important;

  &:focus {
    border-color: #843534 !important;
  }
}

.inner {
  .cbp-af-header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #eee;

    .dropdown-menu {
      position: absolute;
      top: 100%;
    }

    h1,
    .nav a {
      line-height: 40px;
      color: black;
    }

    .nav a.btn {
      line-height: 1.7;
      margin-top: 0.9em;
    }

    .nav a.login:before {
      top: 34%;
      height: 20px;
    }

    h1 {
      font-size: 1.2em;
      margin: 0.6em 0;

      a {
        color: black;
      }
    }
  }
}

.footer-logo {
  img {
    float: left;
    margin-right: 2em;
    width: 120px;
  }
}

.bold {
  font-weight: bold;
}

#faq {
  margin-top: 50px;
}

button#purchase {
  width: 100%;
}

#next-steps ul {
  list-style-type: disc !important;
}

.btn-outline-primary {
  color: $primary-color;
  background-color: transparent;
  background-image: none;
  border-color: $primary-color;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary-color;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 767px) {
  section {
    text-align: left;
  }

  #contact-form-error,
  #contact-form-success {
    width: 100%;
    text-align: left;
  }

  .cbp-af-header {
    background-color: #2b2d35;
    height: 70px;
    position: fixed;

    h1,
    .nav a {
      line-height: initial;
    }

    .nav a {
      font-size: 1.1em;
    }

    .navbar-brand {
      color: #666;
      font-size: 16px;
      line-height: 30px;
      margin: 1.3em 0;
      padding: 0;

      img {
        width: 28px;
      }
    }
  }

  .footer-logo img {
    float: none;
    margin: 0;
    width: 80px;
  }

  .navbar-collapse {
    border-bottom: 1px solid rgb(102, 102, 102);
    border-left: 1px solid rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);
    background-color: rgb(44, 46, 53);
  }

  .nav>li {
    text-align: left;
  }
}


@media screen and (min-width: 767px) and (max-width: 1199px) {
  .cbp-af-header h1, .cbp-af-header .nav a {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5em !important;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 2.1em !important;
  }

  h3 {
    font-size: 1.7em !important;
  }

  p {
    font-size: 1.4em !important;
    line-height: 1.6 !important;

    &.small {
      font-size: initial !important;
    }
  }

  .grid .portfolio-item {
    padding: 0;
  }

}
