.wp-terminal {
 color:#FFF;
 background-color:#002b36;
 background-image: url('../../images/terminal.png');
 border-top:1px solid #AAA;
 border-bottom:1px solid #AAA;
 font-family:'Courier New', Courier, Fixed;
 background-position:15px 10px;
 background-repeat:no-repeat;
 margin-bottom:10px;
 margin-left:0;
 margin-top:10px;
 text-align:left;
 line-height:115%;
 padding:10px 10px 10px 50px
}
