- if Rails.env.production?
  / Global site tag (gtag.js) - Google Analytics
  %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.ga_key}" }

  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '#{Rails.application.credentials.ga_key}', {
      'custom_map': {'dimension2': 'external_id'}
    });
