.header
  %nav.navbar.navbar-expand-lg.navbar--bold.navbar-transparent.navbar-inverse.bg-dark
    .container.container-lg.navbar-container
      %a.navbar-brand{ href: root_path }
        %img.d-none.d-lg-inline-block{ alt: "Velocity Labs", src: asset_path('logo-text.png'), height: 60 }/

      .d-inline-block
        %button.navbar-toggler.hamburger.hamburger-js.hamburger--spring{ "aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar_main", "data-toggle" => "collapse", :type => "button" }
          %span.hamburger-box
            %span.hamburger-inner

      #navbar_main.collapse.navbar-collapse.align-items-center.justify-content-end
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link{ href: page_path('about') } About Us

          %li.nav-item.dropdown
            %a.nav-link{ href: page_path('clients') } Our Clients

      .pl-4.d-none.d-lg-inline-block
        %a.btn.btn-styled.btn-sm.btn-base-5.text-uppercase.btn-circle{ href: new_contact_path }
          Contact Us
